<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="RapidDeployRepo" version="1">
    <about>
        <name>RapidDeploy Package Repository Plugin</name>
        <version>1.5</version>
        <target-go-version>17.10.0</target-go-version>
        <description>
           Package material plugin that supports fetching packages from a remote RapidDeploy server.
        </description>
        <vendor>
            <name>MidVision</name>
            <url>www.midvision.com</url>
        </vendor>
    </about>
</go-plugin>
