<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="rapiddeploy.package.build.plugin" version="1">
    <about>
        <name>RapidDeploy Package Builder Task Plugin</name>
        <version>1.5</version>
        <target-go-version>17.10.0</target-go-version>
        <description>
           Task plugin that supports invoking a package build operation on a remote RapidDeploy server.
        </description>
        <vendor>
            <name>MidVision</name>
            <url>www.midvision.com</url>
        </vendor>
    </about>
</go-plugin>
