<div class="form_item_block">
  <label>RapidDeploy server URL:<span class="asterisk">*</span>
  </label>
  <input type="url" ng-model="Url" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Url].$error.url">Incorrect url format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Url].$error.server">{{ GOINPUTNAME[Url].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Authentication token:<span class="asterisk">*</span>
  </label>
  <input type="password" ng-model="Token" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Token].$error.token">Incorrect token format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Token].$error.server">{{ GOINPUTNAME[Token].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Project name:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="Project" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Project].$error.token">Incorrect project name format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Project].$error.server">{{ GOINPUTNAME[Project].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Environment name:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="Environment" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Environment].$error.token">Incorrect environment name format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Environment].$error.server">{{ GOINPUTNAME[Environment].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>RapidDeploy package repository name:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="PackageRepo" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Package].$error.token">Incorrect package repository name format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Package].$error.server">{{ GOINPUTNAME[Package].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>RapidDeploy package name:<span class="asterisk">*</span>
  </label>
  <input type="text" ng-model="Package" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Package].$error.token">Incorrect package name format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Package].$error.server">{{ GOINPUTNAME[Package].$error.server }}</span>
</div>